/* WRAPPER */
.home-page-wrapper {
    height: 100vh;
}

/* HEADER */
.hp-header {
    z-index: 10000;

    position: sticky;
    top: 0;

    padding-inline: 2em;
    box-sizing: border-box;

    height: 80px;
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;

    border-bottom: 2px solid var(--tertiary-color);

    background-color: white;
}

.hp-header-logo {
    font-size: 1.5em;
    color: var(--text-accent-color);
}

p-search-bar {
    flex: 1;
}

.hp-header-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 1em;
}

@media only screen and (max-width: 600px) {
    .hp-header {
        padding-inline: 1em;
        gap: 0.5em;
        /* border-bottom: none; */
    }

    .hp-header-logo {
        display: none;
    }

    .hp-header-buttons {
        gap: 0.5em;
    }
}

/* MENU BAR */
.hp-menu-bar {
    height: 100%;
    width: 100px;
}

.movable {
    padding-block: 1em;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    transform: translateX(-110%);

    transition: 500ms;
}

.hp-menu-bar:hover .movable {
    transform: translateX(0%);
}

.fade {
    height: 100px;
    width: 100px;

    opacity: 0;

    position: fixed;
    bottom: 0;
    left: 0;

    background-image: linear-gradient(to top, white, rgba(255,255,255,0));

    transition: 500ms;
}

.hp-menu-bar:hover .fade {
    opacity: 1;
}

.start {
    opacity: 1;
    transform: translateX(0%);
}
