.light-theme {
    --primary-color: rgb(255, 255, 255);

    /* BUTTONS */
    --button-color: #ffffff;
    --button-hover-color: #ffffff;
    --buton-active-color: #f0c024;

    /* TEXT */
    --text-primary-color: #183844;
    --text-secondary-color: #aec0c7;
    --text-accent-color: #5625e9;
}